<div class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="timer_small" >
        <div class="days">
          <p>
            {{gameService.timeDays}}
          </p>
          <p>DAYS</p>
        </div>
        <div class="hours">
          <p>{{gameService.timeHours}}</p>
          <p>HOURS</p>
        </div>
        <div class="minutes">
          <p>{{gameService.timeMinute}}</p>
          <p>MINUTES</p>
        </div>
        <div class="seconds">
          <p>{{gameService.timeSeconds}}</p>
          <p>SECONDS</p>
        </div>
    </div>
    <div class="header_end" slot="end">
      <div class="user_info">John Doe</div>
    <div class="logo" >
      
    </div>
    </div>
</div>

<ion-content class="main-content">
  
  <div class="head-section">
    <countdown-timer></countdown-timer>
    <clue-tips></clue-tips>
    <!-- <div class="clue-tips">
      <div class="icon" slot="start">
        <ion-icon (click)="clickSlidePrevious()" size="large" color="light" name="arrow-back"></ion-icon>
      </div>
      <div class="col-tip">
        <div class="tips">
          <h2>Clue Tips</h2>
          <ion-slides #mySlider [options]="opts">
            <ion-slide *ngFor="let item of gameService?.gameTipArray">
              <p>{{item.tip}}</p>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
      <div class="icon" slot="end">
        <ion-icon (click)="clickSlidetoNext()" size="large" color="light" name="arrow-forward"></ion-icon>
      </div>
    </div> -->
  </div>
  
  <div class="event-section">
    
    <h2>Events</h2>
    <div class="search">
      <input type="search">
    </div>
    <div class="event-cards">
                 <!-- loader -->
  <div *ngIf="loading" class="">
    <div class="loading-card" >
      <div class="loading-top">
        <div class="loading-pics">
          <div class="loading-pic" ></div>
        </div>
        <div class="loading-desc">
          <div class="loading-name"></div>
          <div class="loading-details"></div>
          <div class="loading-type"></div>
        </div>
      </div>
      <div class="loading-bottom">
        <div class="loading-icons">
        </div>
        <div class="loading-button">
        </div>
      </div>
    </div>
  </div>
      <div class="event-card" *ngFor="let item of allEvent">
        <div class="event-top">
          <div class="event-pics">
            <img class="event-pic" [src]="item.image_url">
          </div>
          <div class="event-desc">
            <h3>{{item.eventName}}</h3>
            <p>{{item.aboutEvent}}</p>
            <p>type: {{item.type}}</p>
          </div>
        </div>
        <div class="event-bottom">
          <div class="event-icons">
          </div>
          <div class="event-button">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card color="light" *ngFor="let item of allEvent">
          <img [src]="item.image_url">
          <ion-row class="text">
            <ion-col class="main-text" size="8">
              <div class="main-text ion-text-left ion-title-left">
                <ion-title mode="md" class="ion-text-left text-uppercase font-weight-bold">{{item.eventName}}
                </ion-title>
                <ion-text>{{item.aboutEvent}} </ion-text>
                <small>{{item.type}} </small>
                <ion-icon *ngIf="userService.getRole() == 'ADMIN'" (click)="handleDelete(item)" name="trash">
                </ion-icon>
              </div>
            </ion-col>
            <ion-col class="button-container" size="4">
              <div class="button">
                <ion-button (click)="insideEvent(item)">
                  ENTER
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <div *ngIf="userService.getRole() == 'ADMIN'" class="ion-text-center">
            <input readonly type="text" [value]="webLink +'/'+'web-event-ticket/'+ item._id " #userinput size="35">
            <ion-button color="dark" size="small" (click)="copyInputMessage(userinput)" value="click to copy">Copy
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row> -->

  
</ion-content>