.header {
  height: 55px;
  width: 100%;
  display: flex;
  background-color: #348a40;
  justify-content: space-between;
  align-items: center;

  ion-menu-button {
    // --background: #f2f5f2;
    color: #fff;
  }
  .timer_small {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      margin-bottom: 0;
    }
  }
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(83, 80, 80);
    margin-right: 10px;
  }
}

.header.headerIsActive {
  display: none;
}

.main-content {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;

  .timer-section {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    @media (min-width: 1024px) {
      // display: none;
    }
    .h {
      font-family: "Poppins", sans-serif;
      margin: 0;
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 5px;
    }

    .row {
      display: flex;
      justify-content: center;
      gap: 11.38px;
      color: #fff;
      .time {
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #fff;

        .circle-loader {
          position: relative;
          background-color: rgb(183, 233, 183);
          width: 62px;
          height: 62px;
          border-radius: 50%;
          display: grid;
          place-items: center;
        }

        .circle-loader::before {
          content: "";
          position: absolute;
          background-color: #348a40;
          height: 90%;

          width: 90%;
          //background-color: #fff;/
          border-radius: 50%;
        }

        .text {
          position: relative;
          color: #fff;
          font-size: 14px;
          font-weight: bolder;
        }

        span {
          font-family: "Poppins", sans-serif;
          color: #fff;
          font-size: 14px;
          font-weight: bolder;
          margin-bottom: -3px;
        }

        small {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  .clue-tips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 2em;
    .icon {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background-color: transparent;
    }
    .col-tip {
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 10px;
      width: 200px;
      height: fit-content;
      overflow: hidden;
      background-color: transparent;

      ion-slides {
        height: 72px;

        ion-slide {
          position: relative;
        }
      }
      h2 {
        text-align: center;
        margin: 0;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
      }
      p {
        margin: 0;
        color: #fff;
        position: absolute;
        margin-top: -14px;
        top: 0;
        line-height: 1.4;
        font-size: 11px;
        letter-spacing: 0.2px;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.head-section {
  position: relative;
  background-color: #348a40;
  height: fit-content;
  // TODO
  background-image: url("../../../assets/figma/unsplash_XIIsv6AshJY.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

.event-section {

  h2 {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 13px;
    margin: 0;
  }
  .loading {
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-items: center;
    flex-direction: column;
    align-items: centers;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    .loading-card {
      background-color: #c2c2c2;
      border-radius: 10px;
      box-shadow: -1px 1px 6px -3px #00000040;
      display: flex;
      gap: 10px;
      width: 93%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;

      .loading-top {
        display: flex;
        gap: 15px;

		    .loading-pic,
        .loading-name,
        .loading-details,
        .loading-type {
          background: #c2c2c2;
		      height: 15px;
        }

        .loading-pics {
          flex: 2;
        }
        
        .loading-pic {
          height: 104px;
          width: 114px;
        }

        .loading-desc {
          flex: 3;
          display: flex;
          flex-direction: column;
		  gap: 5px;
          justify-content: space-around;
        }
        
      }

      .loading-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3px;
        .loading-icons {
          background-color: #e4e4e4;
          height: 40px;
          flex: 4;
        }

        .loading-button {
          background-color: #e2e2e2;
          height: 40px;
          flex: 1;
        }
      }
    }
  } 
  .event-cards {
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }
  .event-card {
    width: 93%;
    background-color: #eef7ee;
    border-radius: 10px;
    box-shadow: -1px 1px 6px -3px #00000040;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // min-height: 200px;
    // margin: 0 auto;
    padding: 16px;
    padding-right: 25px;
    
    
    

    .event-top {
      // display: flex;
      // gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 10px;
      // justify-content: space-between;

      .event-pics {
        
        // flex: 2;
      }
      .event-pic {
        // height: 104px;
        // width: 114px;
      }
      .event-desc {
        // flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
          color: black;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          text-align: left;
          line-height: 13px;
          margin: 0;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 15px;
          margin: 0;
        }
      }
    }

    .event-bottom {
			display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 10px;
      // justify-content: space-between;
			// align-items: center;
			// gap: 10px;

			.event-icons{
				background-color: transparent;
				// border: 1px solid rgb(202, 199, 199);
				height: 40px;
        font-weight: 700;
        display: flex;
        // flex-direction: column;
        // align-items: center;
				// border-radius: 5px;
        
        .event-votes {
          display: block;
          font-size: 1.2rem;
          color: goldenrod;
        }
			}

      .event-button {
        width: 100%;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        background-color: #348a40;
        border-radius: 5px;

			// .event-button{
			// 	display: grid;
			// 	place-items: center;
			// 	border-radius: 5px;
			// 	border: 1px solid rgb(202, 199, 199);
			// 	background-color: transparent;
      //   background-color: red;
			// 	height: 40px;

				ion-icon{
					border: none;
				}
			}
		}
  }
}

.noEvents {
  p {
    font-size: 1.2em;
  }
}

.curved-section {
  background-color: #fafafa;
  z-index: 100;
  margin-top: -30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;

  h2 {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 13px;
    margin: 0;
  }
}

.shadow-event-card {
  opacity: 0;
}
