ion-header {
	img {
		width: 70px;
		height: 30px;
		padding: 5px 0;
	}
}

ion-card {
	background-image: radial-gradient(
		circle,
		#ffffff,
		#e1f1ff,
		#a5eaff,
		#53e4f0,
		#00dabb,
		#00c793,
		#00b369,
		#189e3c,
		#0f8436,
		#0b6b30,
		#0b5228,
		#0c3b1f
	);
	padding-bottom: 30px;

	.no-user {
		margin-top: 45px;
	}

	ion-card-content {
		color: var(--ion-color-warning-contrast);
	}
}

loader .lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgb(253, 255, 253);
	margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

loading .toast-container {
	position: fixed;
	display: flex;
	justify-content: center;
	top: auto;
	margin-bottom: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

// check
.gen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	ion-avatar {
		height: 47px;
		width: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ion-avatar:nth-of-type(1) {
		border: 1px solid #50e8fa;
	}

	ion-avatar.three {
		border: 1px solid #f69df4;
	}

	span {
		position: absolute;
		bottom: 49px;
		left: auto;
		right: auto;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.6rem;
		padding: 3px;
	}

	span:nth-of-type(1) {
		background: #50e8fa;
	}

	.three + span {
		background: #f69df4;
	}
}

.leader {
	display: flex;
	flex-direction: column;
	align-items: center;

	ion-avatar {
		height: 64px;
		width: 64px;
		border: 1px solid var(--ion-color-gold);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		position: absolute;
		bottom: 49px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid var(--ion-color-gold);
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--ion-color-gold);
		color: var(--ion-color-dark);
		font-size: 0.6rem;
		padding: 3px;
	}

	.trophy {
		color: var(--ion-color-gold);
	}
}

.user-details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.others {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;

	.avatar-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ion-avatar {
		border: 1px solid var(--ion-color-primary);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
