<ion-content>
  <div class="main-content">
    <div class="top-section">
      <div class="header">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <h2>Leaderboard</h2>
    </div>
    <div class="main-section">
      <div class="lead">
        <div class="second-position position">
          <div class="pic-container">        
            <div class="pic second-position-picture">
            </div>
          </div>
          <div class="name">
            <div class="person-name">Nick</div>
            <div class="record">150 secs</div>
          </div>   
        </div>
        <div class="first-position position">
          <div class="pic-container">
            <div class="pic first-position-picture">
            </div>
          </div>
          <div class="name">
            <div class="person-name">Prince</div>
            <div class="record">150 secs</div>
          </div>
        </div>
        <div class="third-position position">
          <div class="pic-container">
            <div class="pic third-position-picture">
            </div>
          </div>
          <div class="name">
            <div class="person-name">David</div>
            <div class="record">150 secs</div>
          </div>
        </div>
      </div>
      <div class="the-rest">

      </div>
    </div>
  </div>

  
        <div *ngIf="loading">
          <div class="toast-container "></div>
        </div>
</ion-content>
