<ion-content>
  <div class="top-section">
    <img [src]="image" alt="" class="top-section-cover-img">
    <div class="top-row">
      <div class="back-button" [routerLink]="[ '/tabs/settings' ]">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.9999 11H6.41394L11.7069 5.70697L10.2929 4.29297L2.58594 12L10.2929 19.707L11.7069 18.293L6.41394 13H20.9999V11Z" fill="#F5FAF5"/>
        </svg>            
      </div>
      <h2>Account Details</h2>
      <span>Save</span>
    </div>
    <div class="profile-section"> 
      <div class="profile-pic">
        <div class="profile-pic-cta" *ngIf="!image" onclick="document.getElementById('single-image').click();">
           no img
        </div>
        <input id="single-image" style="display: none" accept="image/*" #singleImage (change)="addImagesFirebase($event)"
                  type="file" name="name" style="display: none" />
        <div class="profile-pic-cta" *ngIf="image" onclick="document.getElementById('single-image').click();">
          <img [src]="image" alt="">
        </div> 
      </div>
    </div>  
  </div>
  <div class="main-section">
    <form class="form" id="form"  #profileForm ngForm="profileForm" name="form" 
    (submit)="createProfile(profileForm)">
      <div class="inputs">
        <div class="inputBox">
          <input type="text" #accountName="ngModel" name="accountName" id="accountName" [(ngModel)]="model.accountName" value="{{ myProfile?.account_name }}">
          <span class="text">Account name</span>
        </div>
        <div class="inputBox">
          <input type="text" #bank="ngModel" name="bank" id="bank" [(ngModel)]="model.bank" value="{{ myProfile?.bank }}"> 
          <span class="text">Bank</span>
        </div>
        <div class="inputBox">
          <input type="text" #accountNumber="ngModel" name="accountNumber" id="accountNumber" [(ngModel)]="model.accountNumber" value="{{ myProfile?.acount_number }}"> 
          <span class="text">Account Number</span>
        </div>
        <!-- <div class="inputBox">
          <input #nationality="ngModel" name="nationality" [(ngModel)]="model.nationality"
          type="text" required value="{{ myProfile?.nationality }}">
          <span class="text">Nationality</span>
        </div> -->
      </div>
      <div class="buttons">
        <button class="submit-btn" type="submit">Save</button>
        <button class="cancel-btn" [routerLink]="[ '/tabs/settings' ]">Cancel</button>
      </div>

    </form>
  </div>

  <div *ngIf="loading" class=" ">
    <div class="toast-container ">
        <div class="lds-roller"><div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</ion-content>
