<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center">
      <img class="rounded-top" src="../../../assets/icon/Logoicon.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <!-- grid content -->



        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://js.paystack.co/v1/paystack.js"></script>


        <div>
          <ion-card class="text-center">
            <ion-card-header color="success" class="font-weight-bold text-white"> PAYMENT</ion-card-header>
            <ion-card-content>
              <h2 class="text-center m-2">{{appUsername}}</h2>
              <!-- <img class="banks" src="../../../assets/img/banks.png" alt=""> -->
              <div class="col p-5 d-flex justify-content-center">
                <img class="wallet" src="assets/icon/wallet_icon.png">
              </div>

              <h3 class="text-center mb-5 font-weight-bold">
                BALANCE <ion-chip color="dark" outline>
                  <h3 class="m-2"> {{balance | currency:' ₦ '}}</h3>
                </ion-chip>
              </h3>


              <ion-row class="d-flex justify-content-center">
                <!-- pay now -->
                <div *ngIf="!showPaymentButtons" class="pr-4 row d-flex justify-content-center">
                  <ion-button (click)="enterAmountInput()" color="success">DEPOSIT</ion-button>
                </div>
                <div *ngIf="!showPaymentButtons" class=" pl-4 row d-flex justify-content-center">
                  <ion-button (click)="enterCashoutAmount()" color="success">CASHOUT</ion-button>

                </div>
              </ion-row>

              <!-- <ion-list>
                                <ion-item *ngFor="let item of scheduled">
                                  <ion-label text-wrap>
                                    {{item.id}} {{item.title}}
                                    <p>Trigger : {{item.trigger | json}}</p>
                                  </ion-label>
                                  
                                </ion-item>
                              </ion-list> -->




              <div *ngIf="showPaymentButtons">


                <ion-chip *ngIf="showPaymentButtons">
                  <h5 class="text-center font-weight-bold">I want to pay ₦ {{model.amount}} </h5>
                </ion-chip> <br>


                <!-- *ngIf="model?.amount > 99" -->


                <!-- break line -->
                <hr>
                <ion-card class="green darken-3">
                  <small class="text-center text-white"> Banks transafer/ Cards / ussd</small>
                  <ion-row>
                    <ion-col class="d-flex justify-content-center">

                      <!-- public_key="FLWPUBK_TEST-32c34a10b25063883487eb99f916159a-X" [amount]='model.amount' currency='NGN' -->

                      <flutterwave-make-payment public_key="FLWPUBK-b804fc96c1eb9fa18b814b41a86cfb45-X"
                        [amount]='model.amount' currency='NGN' payment_options="card" text="PAY NOW"
                        [customer]="customerDetails" [customizations]="customizations" [tx_ref]="reference"
                        (callback)="makePaymentCallback($event)" (close)="closedPaymentModal()">
                        <img src="../../../assets/banks/visa.gif">
                      </flutterwave-make-payment>

                    </ion-col>


                  </ion-row>
                </ion-card>
              </div>
            </ion-card-content>

          </ion-card>
        </div>

        <ion-card color="light">
          <ion-row>
            <ion-col size="12">
              <ion-item color="light" class="d-flex justify-content-center p-3">
                <ion-label color="success" position="floating">promo code</ion-label>
                <ion-input #promo type="text"></ion-input>
              </ion-item>
              <div class="ion-text-center">
                <ion-button [disabled]="loading" color="success" [disabled]="!promo.value"
                  (click)="submitProCode(promo.value)">
                  <div *ngIf="!loading">submit </div>
                  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>

        <div>
          <ion-card class="text-center">
            <ion-card-header color="success" class="font-weight-bold text-white "> ACCOUNT</ion-card-header>
            <ion-card-content>
              <div class="col p-5 d-flex justify-content-center">
                <img class="wallet" src="assets/icon/profile_icon.png">
              </div>
              <h4 color="success" class="text-center fint-weight-bold"> UPDATE YOUR INFORMATION</h4>
              <ion-button color="success" (click)="profileSection()">UPDATE</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>



</ion-content>