<ion-content>
  <div class="main-content">
    <div class="onboard-event-container">
      <!-- head section -->
      <div class="head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <profile-photo [className]="'profile-header'"></profile-photo>
        </div>
      </div>
      <div class="onboard-event-section">
        <form>
          <div>
            <h3 class="section-title">Event Details</h3>
            <div class="grid">
              <input type="text" name="eventName" [(ngModel)]="onboardingForm.eventName" id="eventName" placeholder="Enter Name">
              <input type="text" name="eventLocation" [(ngModel)]="onboardingForm.eventLocation" id="eventLocation" placeholder="Enter Location">
              <input type="text" name="eventType" [(ngModel)]="onboardingForm.eventType" id="eventType" placeholder="Enter Type">
              <div class="date-time">
                <div class="date">
                  <input type="text" name="startDate" [(ngModel)]="onboardingForm.startDate" id="startDate" placeholder="Date" onfocus="(this.type='date')">
                  <img class="timed" src="../../../assets/figma/calender.svg" alt="">
                </div>
                <div class="time">
                  <input type="text" name="startTime" [(ngModel)]="onboardingForm.startTime" id="startTime" placeholder="Time" onfocus="(this.type='time')">
                  <img class="timed" src="../../../assets/figma/clock.svg" alt="">
                </div>
              </div>
            </div>
            <textarea name="aboutEvent" [(ngModel)]="onboardingForm.aboutEvent" id="aboutEvent" cols="30" rows="3" placeholder="Event Description"></textarea>
          </div>
          <div>
            <h3 class="section-title">Add Cover Photo</h3>
            <label *ngIf="!photo" for="image_url" class="cover-photo">
              <img src="../../../assets/figma/add.svg" alt="">
            </label>
            <img class="cover_img" *ngIf="photo" [src]="photo" alt=""  onclick="document.getElementById('image_url').click();">
            <input type="file" name="image_url" id="image_url" (change)="addImagesFirebase($event)">
          </div>
          <div>
            <h3 class="section-title">Add Tickets</h3>
            <div class="tickets">
              <div *ngFor="let ticket of onboardingForm.ticketList">
                <img class="ticket_img" [src]="ticket.image_url" alt="">
              </div>
              <button class="cover-photo ticket" (click)="addTicket($event)">
                <img src="../../../assets/figma/add.svg" alt="">
              </button>
            </div>
          </div>
          
          <div>
            <h3 class="section-title">Event Owner Details</h3>
            <div class="grid">
              <input type="text" name="eventOwner" [(ngModel)]="onboardingForm.eventOwner" id="eventOwner" placeholder="Full Name">
              <input type="text" name="eventOwnerUsername" [(ngModel)]="onboardingForm.eventOwnerUsername" id="eventOwnerUsername" placeholder="Username">
              <input type="email" name="eventOwnerEmail" [(ngModel)]="onboardingForm.eventOwnerEmail" id="eventOwnerEmail" placeholder="Email">
              <input type="tel" name="contactNumber" [(ngModel)]="onboardingForm.contactNumber" id="contactNumber" placeholder="Contact Number">
            </div>
          </div>
          <div>
            <h3 class="section-title">Account Details</h3>
            <div class="grid">
              <input type="text" name="bank" [(ngModel)]="onboardingForm.bank" id="bank" placeholder="Enter Bank">
              <input type="number" name="account_number" [(ngModel)]="onboardingForm.account_number" id="account_number" placeholder="Account Number">
            </div>
          </div>

          <div class="btn-div">
            <button class="btn-submit" (click)="finalize($event)">Save Event Details</button>
          </div>
        </form>
      </div>
    </div>

    <!-- loader -->
    <loading-spinner *ngIf="loading"></loading-spinner>
  </div>
</ion-content>
