<ion-content>
  <div class="main-content">
    <div class="onboard-event-container">
      <!-- head section -->
      <div class="head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <profile-photo [className]="'profile-header'"></profile-photo>
        </div>
      </div>
      <div class="onboard-event-section">
        <form>
          <div>
            <h3 class="section-title">Event Details</h3>
            <div class="grid">
              <input type="text" name="name" [(ngModel)]="onboardingForm.name" id="name" placeholder="Enter Name">
              <input type="text" name="location" [(ngModel)]="onboardingForm.location" id="location" placeholder="Enter Location">
              <input type="text" name="type" [(ngModel)]="onboardingForm.type" id="type" placeholder="Enter Type">
              <div class="date-time">
                <div class="date">
                  <input type="text" name="date" [(ngModel)]="onboardingForm.date" id="date" placeholder="Date" onfocus="(this.type='date')">
                  <img class="timed" src="../../../assets/figma/calender.svg" alt="">
                </div>
                <div class="time">
                  <input type="text" name="time" [(ngModel)]="onboardingForm.time" id="time" placeholder="Time" onfocus="(this.type='time')">
                  <img class="timed" src="../../../assets/figma/clock.svg" alt="">
                </div>
              </div>
            </div>
            <textarea name="description" [(ngModel)]="onboardingForm.description" id="description" cols="30" rows="3" placeholder="Event Description"></textarea>
          </div>
          <div>
            <h3 class="section-title">Add Cover Photo</h3>
            <label *ngIf="!photo" for="cover-photo" class="cover-photo">
              <img src="../../../assets/figma/add.svg" alt="">
            </label>
            <img class="cover_img" *ngIf="photo" [src]="photo" alt=""  onclick="document.getElementById('cover-photo').click();">
            <input type="file" name="cover-photo" id="cover-photo" (change)="addImagesFirebase($event)">
          </div>
          <div>
            <h3 class="section-title">Add Tickets</h3>
            <div class="tickets">
              <div *ngFor="let ticket of onboardingForm.ticketList">
                <img class="ticket_img" [src]="ticket.imageUrl" alt="">
              </div>
              <button class="cover-photo ticket" (click)="addTicket($event)">
                <img src="../../../assets/figma/add.svg" alt="">
              </button>
            </div>
          </div>
          
          <div>
            <h3 class="section-title">Event Owner Details</h3>
            <div class="grid">
              <input type="email" name="email" [(ngModel)]="onboardingForm.email" id="email" placeholder="Email">
              <input type="tel" name="phone" [(ngModel)]="onboardingForm.phone" id="phone" placeholder="Contact Number">
            </div>
          </div>
          <div>
            <h3 class="section-title">Account Details</h3>
            <div class="grid">
              <input type="text" name="bank" [(ngModel)]="onboardingForm.bank" id="bank" placeholder="Enter Bank">
              <input type="number" name="account_number" [(ngModel)]="onboardingForm.account_number" id="account_number" placeholder="Account Number">
            </div>
          </div>

          <div class="btn-div">
            <button class="btn-submit" (click)="finalize($event)">Save Event Details</button>
          </div>
        </form>
      </div>
    </div>

    <!-- loader -->
    <loading-spinner *ngIf="loading"></loading-spinner>
  </div>
</ion-content>
