<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> <div class="row d-flex justify-content-center">
      <img class="rounded-top"  src="../../../assets/icon/Logoicon.png">
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content text-white">

    <ion-segment >
    <ion-segment-button [routerLink]="['/tabs/gamesection']">
      <ion-label ><ion-icon color="light"   name="home"></ion-icon> </ion-label>
    </ion-segment-button>
    <ion-segment-button  [routerLink]="['/tabs/manage-questions']">
      <ion-label >  <ion-icon s color="light"  name="help"></ion-icon> </ion-label>
    </ion-segment-button>
    <ion-segment-button  [routerLink]="['/tabs/payouts']">
      <ion-label ><ion-icon  color="light"  name="wallet"></ion-icon> </ion-label>
    </ion-segment-button>
    <ion-segment-button  [routerLink]="['/tabs/admin-account']">
      <ion-label><ion-icon  color="light"   name="people"></ion-icon></ion-label>
    </ion-segment-button>
  </ion-segment>
    <!-- content -->
</div>
</ion-content>
