<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center">
      <img class="rounded-top"
           src="assets/img/ISABI LOGO GREEN.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12"
               size-sm="12"
               size-md="8"
               offset-md="2"
               size-lg="6"
               offset-lg="3">
        <ion-card color="light"
                  *ngFor="let item of allEvent">
          <img [src]="item.image_url">

          <div class="ion-text-center">
            <ion-title mode="md"
                       class="text-uppercase font-weight-bold">{{item.eventName}}</ion-title>
            <ion-text>{{item.aboutEvent}} </ion-text>

            <small>{{item.type}} </small>

            <ion-icon *ngIf="userService.getRole() == 'ADMIN'"
                      (click)="handleDelete(item)"
                      name="trash">
            </ion-icon>
          </div>

          <div class="row d-flex justify-content-center">
            <ion-button (click)="insideEvent(item._id)">ENTER
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- loader -->
  <div *ngIf="loading"
       class=" ">
    <div class="toast-container ">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</ion-content>
