<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> <div class="row d-flex justify-content-center">
      <img class="rounded-top"  src="../../../assets/icon/Logoicon.png">
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="content">
  <div  *ngFor="let item of allEvent">

    <ion-card color="success" class="m-4" >
      <ion-item color="success">
        <ion-chip color="light">{{item.type}} </ion-chip>
      <ion-icon  *ngIf="userService.getUserRole() == 'ADMIN'" (click)="handleDelete(item)"slot="end" name="trash"></ion-icon>
      </ion-item>
      <img [src]="item.image_url" >
      <h4 class="text-center text-uppercase font-weight-bold">{{item.eventName}} </h4>
      <div class="text-center">{{item.aboutEvent}} </div>
      <div class="d-flex col justify-content-center">
        <ion-button (click)="insideEvent(item._id)" fill="outline" size="large" color="light" >
          ENTER
        </ion-button>
      </div>
    </ion-card>
  </div>


    <!-- loader -->
    <div *ngIf="loading" class=" ">
      <div class="toast-container ">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

  </div>
</ion-content>
