
.main-content {
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;

    input, textarea, select {
        width: 60%;
        outline: none;
        border: none;
        background-color: inherit;
        color: black;
        // width: 97%;
        margin: 0.5rem 0;
        padding: 0.7rem 0;
        border-bottom: 2px solid gray;
      }

    .event-container{	
		height: fit-content;
		width: 100%;
		display: flex;
		flex-direction: column;

		.head-section{
            position: relative;
            background-color: #348A40;
            height: fit-content;
            background-image: url("../../../assets/figma/unsplash_XIIsv6AshJY.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            padding-top: 0;
            padding-bottom: 20px;
        }
        
        .event-head-section{
            height: 100px;
        }
    
        .event-section{
            background-color: #fafafa;
            z-index: 100;
            margin-top: -30px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            display: flex;
            width: 100%;
            gap: 0.6rem;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

			.event-title{
				font-weight: 600;
				font-size: 1.4rem;
				color: #000;
				margin: 0;
			}


            .event-segment{
                position: relative;
                // display: flex;
				// flex-direction: column;
				// justify-content: center;
				// align-items: center;
                // gap: 20px;
				padding: 0 1rem;
                width: 100%;
                padding-bottom: 1rem;

                @media screen and (min-width: 700px){
                    width: 70%;
                    margin-inline: auto;
                    border-right: 2px solid #348a40;
                    border-left: 2px solid #348a40;
                    padding-inline: 5rem;
                    // margin-bottom: 1rem;
                }
                @media screen and (min-width: 1000px){
                    width: 50%;
                }

                .event-pic {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    .event-img {
                        width: 10rem;
                        height: 8rem;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .event-sect {
                    color: #828282;
                    margin-bottom: 1.5rem;

                    .event-title {
                        font-size: 1rem;
                        font-weight: 900;
                        color: #000;
                        margin: 0;
                        margin-bottom: 0.75rem;
                    }

                    .event-detail {
                        font-size: 0.75rem;
                        margin-bottom: 0.5rem;
                        display: flex;
                        align-items: flex-start;


                        .event-detail-title {
                            font-weight: 700;
                            margin-right: 0.75rem;
                            width: 7.5rem;
                            overflow: hidden;
                        }
                        .event-detail-name {
                            width: 62%;
                        }
                    }
                }
                .ratios {
                    margin-bottom: 0;

                    .event-detail-title {
                        margin: 0;
                    }
                    .event-detail-name {
                        color: black;
                        font-weight: 700;
                    }
                }

                .btn-div{
                    display: flex;
                    justify-content: center;
                    // margin-top: 2rem;
                    
                    .btn-submit {
                      width: 80%;
                      padding: .7rem;
                      font-weight: 600;
                      border-radius: 5px;
                      outline: none;
                      text-align: center;
                      background-color: #348A40;
                    }
                }
                .btn-div-accept{
                    margin-top: 2rem;
                }
                .btn-div-reject{
                    margin-top: 1rem;
                    .btn-submit {
                        background-color: red;
                      }
                }
                
            }
        }
	}
}
//media query desktop