<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo">
      <img class="rounded-top" src="assets/img/ISABI LOGO GREEN.png">
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <div class="play-area content">
    <div *ngIf="startGame" class="question-container">
      <!-- question section -->
      <!-- timer -->
      <div class="timer" *ngIf="!gameOver">
        <b>{{timeMinute}} : {{timeSeconds}}</b>
      </div>
      <ion-card *ngIf="startGame" class="play-area">
        
        <!-- counter -->
        <div class="count">
          <div class="cont" #correct>
            <p>{{correctAns}}</p>
            <div class="indicator right"></div>
          </div>
          <div class="cont rev" #wrong>
            <p>{{wrongAns}}</p>
            <div class="indicator wrong"></div>
          </div>
        </div>
        <!-- question number-->
        <div class="question-number">
          Question <span>{{runningQuestion + 1}}</span>/15
        </div>
        <!-- question -->
        <div class="question">
          <p>{{currentQuestion?.question}}</p>
        </div>

        
      </ion-card>
  
      <!-- select answer -->
  
      <div class="answers" *ngIf="startGame">
        <ion-button [color]="btnColor1" expand="full" class="option mb-3" [disabled]="disableClick"
          (click)="checkAnswer(currentQuestion?.option1, currentQuestion?.answer); getColor1()">
          {{currentQuestion?.option1}}
        </ion-button>
  
        <ion-button [color]="btnColor2" expand="full" class="option mb-3" [disabled]="disableClick"
          (click)="checkAnswer(currentQuestion?.option2, currentQuestion?.answer); getColor2()">
          {{currentQuestion?.option2}}
        </ion-button>
    
        <ion-button [color]="btnColor3" expand="full" class="option mb-3" [disabled]="disableClick"
          (click)="checkAnswer(currentQuestion?.option3, currentQuestion.answer); getColor3() ">
          {{currentQuestion?.option3}}
        </ion-button>
  
        <ion-button [color]="btnColor4" expand="full" class="option mb-3" [disabled]="disableClick"
          (click)="checkAnswer(currentQuestion?.option4, currentQuestion.answer); getColor4()">
          {{currentQuestion?.option4}}
        </ion-button>
  
      </div>
    </div>


    <div class="main-content">
      <div class="head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="logo" slot="end">
          </div>
        </div>
        <div class="timer-section">
          <span class="h">COUNTDOWN TO GAME</span>
          <div class="row">
            <div class="time">
              <div class="circle-loader">
                <div class="days circle" id="day">
                  {{gameService.timeDays}}
                </div>
              </div>
              <small>DAYS</small>
            </div>
            <div class="time">
              <div class="circle-loader">
                <div class="hours circle" id="hour">
                  {{gameService.timeHours}}
                </div>
              </div>  
              <small>HOURS</small>
            </div>
            <div class="time">
              <div class="circle-loader">
                <div class="minutes circle" id="minute">
                  {{gameService.timeMinute}}
                </div>
              </div> 
              <small>MUNITES</small>
            </div>
            <div class="time">
              <div class="circle-loader">
                <div class="seconds circle" id="second">
                  {{gameService.timeSeconds}}
                </div>
              </div>
              <small>SECONDS</small>
            </div>
          </div>
        </div>
        <div class="clue-tips">
          <div class="icon" (click)="clickSlidePrevious()" slot="start">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.6">
                <path d="M9.16732 4.66699L3.33398 10.5003L9.16732 16.3337" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.33398 10.5H16.6673" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </div>
          <div class="col-tip">
            <div class="tips">
              <h2>Clue Tips</h2>
              <ion-slides #mySlider [options]="opts">
                <ion-slide *ngFor="let item of gameService?.gameTipArray">
                  <p>{{item.tip}}</p>
                </ion-slide>
              </ion-slides>
            </div>
          </div>
          <div class="icon" (click)="clickSlidetoNext()" slot="end">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.6">
                <path d="M10.8327 16.333L16.666 10.4997L10.8327 4.66634" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.666 10.5L3.33268 10.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>          
          </div>
        </div>
      </div>
    
      <div class="category-section">
        <h2>Events</h2>
        <div class="search">
          <input type="search">
        </div>
        <div class="event-card" *ngFor="let item of allEvent">
          <div class="event-top">
            <div class="event-pics">
              <img class="event-pic" [src]="item.image_url">
            </div>
            <div class="event-desc">
              <h3>{{item.eventName}}</h3>
              <p>{{item.aboutEvent}}</p>
              <p>type: {{item.type}}</p>
            </div>
          </div>
          <div class="event-bottom">
            <div class="event-icons">
            </div>
            <div class="event-button">
              <img src="../../assets/figma/Group 31 (1).svg" alt="plus icon">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="category-container" *ngIf="!loadingGame  && !startGame">
      <div class="timer" *ngIf="!gameOver">
        <b>{{timeMinute}} : {{timeSeconds}}</b>
      </div>

        <div class="logo-container">
          <img class="img" src="assets/img/ISABI LOGO GREEN.png">
        </div>
        <!-- select filter -->
        <ion-item>
          <ion-label class="text-center">select your category</ion-label>
          <ion-select select="success" interface="popover" (ngModelChange)="selectChange($event)"
            [(ngModel)]="model.filterOptions">
            <ion-select-option class="text-dark" value="economics">Economics</ion-select-option>
            <ion-select-option color="success" value="sport">Sport</ion-select-option>
            <ion-select-option color="success" value="movie">Movie</ion-select-option>
            <ion-select-option color="success" value="science">Science</ion-select-option>
            <ion-select-option color="success" value="history">History</ion-select-option>
            <ion-select-option color="success" value="politics">Politics</ion-select-option>
            <ion-select-option color="success" value="arts">Art</ion-select-option>
            <ion-select-option color="success" value="tourism">Tourism</ion-select-option>
          </ion-select>
        </ion-item>

      <div class="ion-text-center ion-padding">
        <ion-button color="success" size="medium" color="success" *ngIf="!startGame" (click)="startQuestion()">
          PLAY NOW !</ion-button>
      </div> 
    </div>

    <br>

    <!-- loader -->
    <div *ngIf="loadingGame" class=" ">
      <div class="toast-container ">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <p style="margin-top: 30%;" class="bg-dark  text-white text-center"> preparing questions...</p>
    </div>
  </div>
</ion-content> 