

#count {
	border: 10px;
	border-color: #000;
}

// //   loading
.toast-container {
	position: fixed;
	display: flex;
	justify-content: center;
	top: auto;
	margin-bottom: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

// loader
.lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgb(12, 109, 20);
	margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#nominated {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

// .content {
// 	background-image: url('../../assets/img/i-sabi -bgd.jpeg');
// 	height: 100%;
// 	width: 100%;
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }
.question-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	.timer{
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 2px solid #2bc241;
		display: flex;
		background-color: #f2f5f2;
		align-content: center;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 20px;
		z-index: 100;
		b{
			font-size: 20px;
			color: 07360e;
			font-weight: 1000;
			letter-spacing: -2px;
		}
	}
	.play-area {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		padding: 10px;
		background-color: #f2f5f2;
		width: 80%;
		height: 130px;
		border-radius: 10px;
		
		.count{
			display: flex;
			position: absolute;
			top: 5px;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			.cont{
				display: flex;
				justify-content: center;
				align-items: center;
				height: fit-content;
				gap: 7px;
				color: #2bc241;
			}
			.rev{
				flex-direction: row-reverse;
				color: red;
			}
			.indicator{
				height: 8px;
				width: 20px;
				border-radius: 5px;
			}
			.right{
				background-color: #2bc241;
				color: #2bc241;
			}
			.wrong{
				background-color: red;
				color: red;
			}
			p{
				padding: 0;
				margin: 0;
				height: fit-content;
			}
		}
		.question-number{
			font-size: 11px;
			span{
				font-size: 12px;
				font-weight: 400;
			}
		}
		.question{
			font-size: 14px;
			text-align: center;
		}
	}

	.answers{
		width: 70%;
		.option {
			border: #07360e28;
			border-width: 2px;
			--background-color: #f2f5f2;
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}
}


.play-area-header {
	background-color: #006633;
	color: #fff;
	// color: #e7f0e0;
}

.category-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	.timer{
		margin-top: 20px;
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 2px solid #2bc241;
		display: flex;
		background-color: #f2f5f2;
		align-content: center;
		justify-content: center;
		align-items: center;
		b{
			font-size: 20px;
			color: 07360e;
			font-weight: 1000;
    		letter-spacing: -2px;
		}
	}
	.logo-container{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		border: 1px solid #2bc241;
		width: 170px;
		height: 170px;
		.img{
			position: absolute;
			width: 143px;
			height: 60px;
		}
	}

	ion-item{
		--background: #f2f5f2;
		width: 80%;
		height: 40px;
		box-shadow: -1px 3px 8px -1px #0000002b;
		border-radius: 10px;
		ion-label{
			--color: #07360e;
			margin-left: auto;
    		margin-bottom: auto;
		}
	}

}


