<ion-header>
  <ion-button color="light" (click)="closeModal()">
    <button>
      <ion-icon color="danger" name="close"></ion-icon>
    </button>
  </ion-button>
</ion-header>

<ion-content class="cover">
  <div class="modal-wrapper">
    <div class="modal-new">
      <div class="top">
        <span>Balance {{balance | currency:'₦'}}</span>
        <span>Cost per vote: {{properties.cost | currency:'₦'}}</span>
      </div>
      <div class="cost-balance">
        <span class="cost">00{{properties.my_code}}</span>
        <span class="balance">{{properties.nickname}} </span>
      </div>
      <div class="main">
        <img class="image" width="250" height="250" [src]="properties.image_url">
        <h3 class="name">{{properties.fullname}}</h3>
        <div class="quantity__change">
          <button class="quantity__btn" (click)="remove()"><ion-icon name="remove"></ion-icon></button>
          <input #purchase type="text" name="purchase" [(ngModel)]="properties.purchase">
          <button class="quantity__btn" (click)="add()"><ion-icon name="add"></ion-icon></button>
        </div>
        <span class="total">{{properties.purchase * properties.cost | currency:'₦'}}</span>
        <div class="div-btn">
          <button class="btn-submit" [disabled]="properties.purchase < 1" (click)="finalize()">Vote</button>
        </div>
      </div>
    </div>
      
  </div>

<!-- <ion-header>
  <ion-button color="light" (click)="closeModal()">
    <button>
      <ion-icon color="danger" name="close"></ion-icon>
    </button>
  </ion-button>
</ion-header>
<ion-content>

  <ion-card color="success" class="ion-padding ion-margin-top ion-text-center">
    <ion-card-subtitle> cost per vote is {{properties.cost | currency:'₦'}} </ion-card-subtitle>
    <ion-card-subtitle> Balance {{balance | currency:'₦'}} </ion-card-subtitle>

    <ion-row>
      <ion-col>
        <ion-card-title>00{{properties.my_code}} </ion-card-title>
      </ion-col>
      <ion-col>
        <ion-card-title>{{properties.nickname}} </ion-card-title>
      </ion-col>
    </ion-row>
    <ion-card-content>
      <div>
        <img class="image" width="250" height="250" [src]="properties.image_url">
      </div>
      <ion-chip class="ion-text-bold" color="light">{{properties.fullname}} </ion-chip>

      <div>enter value</div>
      <ion-row>
        <ion-col>
          <ion-button color="light" size="small" (click)="remove()">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-item color="light">
            <ion-input #purchase type="number" name="purchase" [(ngModel)]="properties.purchase"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button color="light" size="small" (click)="add()">
            <ion-icon name="add"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
      <p class="font-weight-bold text-center">
        {{properties.purchase * properties.cost | currency:'₦'}} </p>
      <ion-button [disabled]="properties.purchase < 1" (click)="finalize()" color="light" [disabled]="">finalize
      </ion-button>
    </ion-card-content>
  </ion-card> -->


  <!-- loader -->
  <div *ngIf="loading" class=" ">
    <div class="toast-container ">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

</ion-content>