#smsform {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

// .content{
//     background-image: url("/assets/img/app-bg.png");
//     height: 100%;
//     width: 100%;
//      background-position: center; 
//      position: fixed;
//      background-size: cover;
//       background-repeat: no-repeat; 
//   }

.game-category-section {
    background: #fff;
    padding: 10px;
    // border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;


    .game-category {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .game-category-content {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .game-category-title {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }

        .game-category-logo {
            height: 12px;
            width: 12px;
        }

        .game-category-view-all {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }
    }
}