#smsform {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

// .content{
//     background-image: url("/assets/img/app-bg.png");
//     height: 100%;
//     width: 100%;
//      background-position: center; 
//      position: fixed;
//      background-size: cover;
//       background-repeat: no-repeat; 
//   }

.game-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.game-category-section {
    width: 100%;
    background: #fff;
    padding: 10px;
    // border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 30px;


    .game-category {
        width: 100%;
        background-color: #EEF7EE;
        box-shadow: -5px 4px 11px -9px #00000040;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        outline: none;

        .game-category-content {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .game-category-title {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }

        .game-category-logo {
            height: 1.5rem;
            width: 1.5rem;
        }

        .game-category-name {
            font-size: 1rem;
            font-weight: 500;
            color: #000;
        }

        .game-category-view-all {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }
    }
}

.game-category-section-empty{
    padding: 2rem;
    background: #fff;
    width: 100%;
    
    p{
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        text-align: center;
    }
}

.form{
    width: 100%;
    margin-bottom: 5rem;
}