<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button style="color: black;"></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center">
      <img class="rounded-top"
           src="../../../assets/icon/Logoicon.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- content area -->
    <div class=" m-0">
      <div class="resp-container game-over-section m-0">
        <ion-card class=" d-flex justify-content-center card">
          <div id="clockdiv">
            <ion-row>
              <ion-row>
                <div>
                  <span class="days"
                        id="day">{{gameService.timeDays }} </span>
                  <div class="smalltext">DAY</div>
                </div>
              </ion-row>
              <ion-row>
                <div>
                  <span class="hours"
                        id="hour">{{gameService.timeHours}} </span>
                  <div class="smalltext">HR</div>
                </div>
              </ion-row>
              <ion-row>
                <div>
                  <span class="minutes"
                        id="minute">{{gameService.timeMinute}} </span>
                  <div class="smalltext">MIN</div>
                </div>
              </ion-row>
              <ion-row>
                <div>
                  <span class="seconds"
                        id="second">{{gameService.timeSeconds}} </span>
                  <div class="smalltext">SEC</div>
                </div>
              </ion-row>
            </ion-row>
          </div>
        </ion-card>
      </div>
    </div>

    <ion-card>
      <iframe controls
              width="100%"
              height="250"
              src="https://www.youtube.com/embed/1aY0xA6allA"
              frameborder="0"></iframe>
    </ion-card>

    <div class="game-tip">
      <ion-row>
        <ion-col class="d-flex justify-content-center"
                 size="4">
          <ion-icon size="large"
                    (click)="clickSlidePrevious()"
                    color="light"
                    name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col class="d-flex justify-content-center"
                 size="4">
          <ion-button outline
                      shape="round">CLUE TIPS</ion-button>
        </ion-col>
        <ion-col class="d-flex justify-content-center"
                 size="4">
          <ion-icon (click)="clickSlidetoNext()"
                    size="large"
                    color="light"
                    name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <!-- <ion-card-header class="text-center  green darken-4 text-white">
            
            
          </ion-card-header> -->

      <!-- <ion-row class="d-flex justify-content-center">
            <ion-button class="success" size="small" (click)="presentNotice()"> click here for more information!
            </ion-button>
          </ion-row> -->
      <ion-slides #mySlider>
        <ion-slide *ngFor="let item of gameService?.gameTipArray">
          <div slot="fixed "
               class="p-3">
            <ion-text class="  text-white">{{item.tip}}</ion-text>
          </div>
        </ion-slide>
      </ion-slides>

    </div>




    <!-- loader -->
    <div *ngIf="loading">
      <div class="toast-container ">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <!-- end content area -->
  </div>


  <!-- <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button color="light">
        <a style="color:#00351a;" [routerLink]="['/testimonials']">
          <ion-icon name="trophy"></ion-icon> TESTIMONIALS
        </a>
      </ion-button>
      <ion-button color="light">
        <a style="color:#00351a;" [routerLink]="['/howtoplay']">
          <ion-icon name="logo-game-controller-a"></ion-icon> HOW TO PLAY
        </a>
      </ion-button>
      <ion-button color="light">
        <a style="color:#00351a;" [routerLink]="['/contactus']">
          <ion-icon name="chatbubbles"></ion-icon> CONTACT US
        </a>
      </ion-button>
      <ion-button color="light">
        <a style="color:#00351a;" href="https:/i-sabi.com/privacy-policy-2/">
          <ion-icon name="list"></ion-icon> POLICY
        </a>
      </ion-button>
      <ion-button color="light">
        <a style="color:#00351a;" href="https:/i-sabi.com/faq/">
          <ion-icon name="help"></ion-icon> FAQ
        </a>
      </ion-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
