<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <section class="ion-padding logo">
          <img src="assets/img/ISABI LOGO GREEN.png"
               alt="isabi logo"
               title="isabi logo" />
        </section>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-xs="12"
               size-sm="10"
               offset-md="1"
               size-md="6"
               offset-md="3"
               size-lg="4"
               offset-lg="4">
        <form class="form"
              #loginForm="ngForm"
              name="form"
              (submit)="login(loginForm)">
          <!-- username -->
          <div class="utility">
            <div class="text-input">
              <ion-input autofocus
                         type="text"
                         class="pl-4 pr-2"
                         placeholder="Username or Phone"
                         #emailUser="ngModel"
                         name="number"
                         clearInput
                         [(ngModel)]="model.number"
                         autocomplete="off"
                         minlength="11"
                         required="true">
                <ion-icon class="mr-2"
                          name="person-outline"></ion-icon>
              </ion-input>
            </div>

            <div *ngIf="emailUser.dirty && emailUser.errors"
                 class="text-center">
              <small class="text-danger ">phone number or email is required</small>
            </div>
          </div>

          <div class="utility">
            <div class="text-input">
              <ion-input type="password"
                         class="pl-4 pr-2"
                         input
                         placeholder="Password"
                         #emailUser="ngModel"
                         name="password"
                         minlength="6"
                         [(ngModel)]="model.password"
                         clearInput
                         required="true">
                <ion-icon class="mr-2"
                          name="lock-closed-outline"></ion-icon>
              </ion-input>
            </div>

            <div *ngIf="emailUser.dirty && emailUser.errors"
                 class="text-center">
              <small class="text-danger ">password is required</small>
            </div>
          </div>


          <ion-text class="ion-float-right forgot-password"
                    [routerLink]="['/forgetpassword']">Forgot password?
          </ion-text>

          <ion-button class="login"
                      shape="round"
                      [disabled]="!loginForm.valid"
                      (submit)="login(loginForm)"
                      expand="block"
                      type="submit">Login</ion-button>

          <div *ngIf="loading">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
          </div>
        </form>

        <ion-row>
          <ion-col class="sign-up"
                   size="12">
            <p class="text-dark">Don't have account?
              <ion-label (click)="register()"
                         class="font-weight-bold text-dark">Sign up
              </ion-label>
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center mt-5">
        <ion-label>Sign in with</ion-label>
        <ion-row>
          <ion-col class="social-icons"
                   size-xs="6"
                   offset-xs="3"
                   size-sm="6"
                   offset-sm="3"
                   size-md="3"
                   offset-md="4.5"
                   size-lg="2"
                   offset-lg="5">
            <div>
              <img src="/assets/img/Facebook_Logo.png"
                   alt="facebook logo" />
            </div>
            <div>
              <img src="assets/img/google-plus-logo.png"
                   alt="google plus logo" />
            </div>
            <div>
              <img src="assets/img/twitter--logo.png"
                   alt="twitter logo" />
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading"
       class="">
    <div class="toast-container">
      <div class="lds-roller"></div>
    </div>
  </div>

  <!-- fab button with options on click -->
  <!-- <ion-fab horizontal="start"
           vertical="bottom"
           slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="alert"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button color="success"
                  size="small">
        <a class=" info text-white"
           [routerLink]="['/testimonials']">
          <ion-icon name="trophy"></ion-icon> TESTIMONIALS
        </a>
      </ion-button>
      <ion-button color="success"
                  size="small">
        <a class=" info text-white"
           [routerLink]="['/howtoplay']">
          <ion-icon name="logo-game-controller-a"></ion-icon> HOW TO PLAY
        </a>
      </ion-button>
      <ion-button color="success"
                  size="small">
        <a class=" info text-white"
           [routerLink]="['/contactus']">
          <ion-icon name="chatbubbles"></ion-icon> CONTACT US
        </a>
      </ion-button>
      <ion-button color="success"
                  size="small">
        <a class="info text-white "
           href="https:/i-sabi.com/faq/">
          <ion-icon name="help"></ion-icon> FAQ
        </a>
      </ion-button>
      <ion-button color="success"
                  size="small">
        <a class="info text-white "
           href="https:/i-sabi.com/privacy-policy-2/">
          <ion-icon name="list"></ion-icon> POLICY
        </a>
      </ion-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
