ion-content {
	--background: var(--ion-color-primary-contrast);

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	form {
		min-height: 250px;
	}

	.utility {
		margin-bottom: 1.2rem;
	}

	.text-input {
		border: 1px solid var(--ion-color-primary);
		border-radius: 35px;
	}

	.forgot-password {
		color: var(--ion-color-primary);
		font-size: 0.8rem;
		margin-bottom: 2rem;
	}

	.login ion-button {
		--background: var(--ion-color-primary);
	}

	.sign-up {
		text-align: center;
		font-size: 0.9rem;
		margin-top: 2rem;
	}

	.social-icons {
		display: flex;
		justify-content: space-evenly;

		img {
			height: 30px;
			width: 30px;
		}
	}
}

// loading
.toast-container {
	position: fixed;
	display: flex;
	justify-content: center;
	top: auto;
	margin-bottom: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
