<ion-content [fullscreen]="true">
  <ion-slides class="splash">
    <ion-slide>
      <img src="assets/img/Splash.png"
           alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/isabi video.png"
           alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/isabi social.png"
           alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/isabi game.png"
           alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ISABI APP ONBOARDING4.png"
           alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
