ion-slides {
	height: 100%;
	width: 100%;
	// position: relative;

	ion-slide {
		display: flex;
		flex-direction: column;
	}
}

ion-buttons {
	position: absolute;
	bottom: 5%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.slide-one {
	background: #389f2c;
}

.info {
	margin: 0 auto;
}
