
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row d-flex justify-content-center">
      <img class="rounded-top" src="/assets/icon/Logoicon.png">
    </div>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen="true"> 
<div class="content d-flex ion-justify-content-center" >
    <!-- <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-button (click)="presentNavigation()" type="block" size="large">Navigation</ion-button>
      
        </ion-tab-bar>
      </ion-tabs> -->


  
      <ion-col>

    <ion-chip color="light"><h3 class="text-center"> Question Upload</h3> </ion-chip>
    <ion-card>
      <!-- select category -->
      <ion-item color="medium">
       <ion-label>Caegories</ion-label> 
       <ion-select  (ngModelChange)="selectChange($event)"  [(ngModel)]="model.mlistOptions">
         <ion-select-option *ngFor="let item of allCategory" [value]="item.name">{{item.name}}</ion-select-option>
         <!-- <ion-select-option value="h">h</ion-select-option>
         <ion-select-option value="a">a</ion-select-option>
         <ion-select-option value="d">d</ion-select-option> -->

       </ion-select>
     </ion-item>

    </ion-card>
     <form #questionForm="ngForm" (submit)="submit(questionForm)"  >

   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Question</ion-label>
     <ion-input rows="6" cols="20" name="question" [(ngModel)]="questionModel.question"
      clearOnEdit required="true" spellcheck="true"></ion-input>
   </ion-item>
 
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Answer</ion-label>
     <ion-input  name="answer" [(ngModel)]="questionModel.answer" 
      required="true" spellcheck="true"></ion-input>
   </ion-item>
 
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Option-1</ion-label>
     <ion-input  name="option1" [(ngModel)]="questionModel.option1"
     required="true" spellcheck="true"></ion-input>
   </ion-item>
   
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Opion-2</ion-label>
     <ion-input  name="option2" [(ngModel)]="questionModel.option2"
      required="true" spellcheck="true"></ion-input>
   </ion-item>
 
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">option-3</ion-label>
     <ion-input  name="option3" [(ngModel)]="questionModel.option3"
     required="true" spellcheck="true"></ion-input>
   </ion-item>
 
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Option-4</ion-label>
     <ion-input  name="option4" [(ngModel)]="questionModel.option4"
      required="true" spellcheck="true"></ion-input>
   </ion-item>
 
     
   <ion-item color="medium" class="ion-margin">
     <ion-label position="floating">Tip</ion-label>
     <ion-input   name="tip" [(ngModel)]="questionModel.tip"
     required="true" spellcheck="true"></ion-input>
   </ion-item>
 
 
     <!-- loader -->
     <div *ngIf="loading" class="">
       <div class="toast-container ">
           <div class="lds-roller"><div></div><div></div><div></div><div></div>
           <div></div><div></div><div></div><div></div></div>
 
       </div>
 
     </div>
 
     
     <ion-button type="submit" color="success">Submit</ion-button>
   </form>
      </ion-col>
</div>

</ion-content>
