<ion-content>
  <div class="main-content">
    <div *ngIf="!loadingGame  && startGame && !low_balance" class="question-container">

      <!-- head section -->
      <div class="head-section question-head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <profile-photo [className]="'profile-header'"></profile-photo>
        </div>
      </div>

      <div class="question-section">
        <div class="timer">
          <div class="circle-loader">
            <div class="text" id="day">
              {{timeMinute}} : {{timeSeconds}}
            </div>
          </div>
        </div>
        <score-counter style="width: 100%" [wrongValue]="wrongAns" [rightValue]="correctAns"></score-counter>
        <div class="question-number">
          Question <span>{{runningQuestion + 1}}</span>/15
        </div>
        <div class="questions">
          {{currentQuestion?.question}}
        </div>
        <div class="answers">
          <div class="answer" [ngClass]="{
            'answer--right' : option1.includes('correct'),
            'answer--wrong' : option1.includes('wrong')
          }" (click)="checkAnswer(currentQuestion?.option1, currentQuestion?.answer, 'option1');">
            <div class="answer-letter">A</div>
            <div class="answer-text">
              {{currentQuestion?.option1}}
            </div>
          </div>

          <div class="answer" [ngClass]="{
            'answer--right' : option2.includes('correct'),
            'answer--wrong' : option2.includes('wrong')
          }" (click)="checkAnswer(currentQuestion?.option2, currentQuestion?.answer, 'option2');">
            <div class="answer-letter">B</div>
            <div class="answer-text">
              {{currentQuestion?.option2}}
            </div>
          </div>

          <div class="answer" [ngClass]="{
            'answer--right' : option3.includes('correct'),
            'answer--wrong' : option3.includes('wrong')
          }" (click)="checkAnswer(currentQuestion?.option3, currentQuestion?.answer, 'option3');">
            <div class="answer-letter">C</div>
            <div class="answer-text">
              {{currentQuestion?.option3}}
            </div>
          </div>

          <div class="answer" [ngClass]="{
            'answer--right' : option4.includes('correct'),
            'answer--wrong' : option4.includes('wrong')
          }" (click)="checkAnswer(currentQuestion?.option4, currentQuestion?.answer, 'option4');">
            <div class="answer-letter">D</div>
            <div class="answer-text">
              {{currentQuestion?.option4}}
            </div>
          </div>
        </div>
        <div class="report-text">
          Is there something wrong with this question? Report here
        </div>
      </div>
    </div>

    <div class="category-container" *ngIf="!loadingGame  && !startGame">
      <div class="head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <profile-photo [className]="'profile-header'"></profile-photo>
        </div>
        <countdown-timer></countdown-timer>
        <clue-tips></clue-tips>
      </div>

      <div class="category-section">
        <h2>PLAY GAME</h2>
        <div class="game-category-section">
          <div class="game-modal" *ngIf="!loadingGame  && !startGame" [hidden]="!showModal">
            <div class="cancel" (click)="showModal = false">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3C8.832 3 3 8.832 3 16C3 23.168 8.832 29 16 29C23.168 29 29 23.168 29 16C29 8.832 23.168 3 16 3ZM16 5C22.087 5 27 9.913 27 16C27 22.087 22.087 27 16 27C9.913 27 5 22.087 5 16C5 9.913 9.913 5 16 5ZM12.22 10.78L10.78 12.22L14.564 16L10.782 19.78L12.222 21.22L16 17.437L19.78 21.217L21.22 19.78L17.437 16L21.217 12.22L19.78 10.78L16 14.564L12.22 10.782V10.78Z" fill="#FF0000"/>
              </svg>          
            </div>
            <div class="game-modal-heading">Game Notice!!!</div>
            <div class="game-modal-desc">Select Fund Account</div>
            <div class="game-modal-options">
              <button class="game-modal-button game-modal-button--balance" (click)="playWithBalance()">Balance</button>
              <button class="game-modal-button game-modal-button--bonus" (click)="playWithBonus()">Bonus</button>
            </div>
          </div>
          <button class="game-category-card" *ngFor="let item of allCategory" (click)="setCategory(item.name)">
            <div class="game-category-card-logo">
              <img [src]="item.logo" alt="plus icon">
            </div>
            <div class="game-category-card-desc">
              <div class="game-category-card-name">
                {{ item.name }}
              </div>
              <div class="game-category-card-participant">
                {{ item.participant }} participants
              </div>
            </div>
            <div class="game-category-card-arrow">
              <img src="../../assets/figma/akar-icons_arrow-left.svg" alt="foward icon">
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="low_balance" class=" ">
        <div class="toast-container mb-5">
          <ion-chip>
            <!-- <ion-icon name="hand" color="danger"></ion-icon> -->
            <ion-label class="font-weight-bold text-danger"> YOUR ACCOUNT IS LOW! CLICK HERE </ion-label> <br>
            <ion-icon [routerLink]="['/tabs/account']" size="large" name="wallet" color="success"></ion-icon>
          </ion-chip>
        </div>
      </div>
    </div>
    
    <loading-spinner *ngIf="loadingGame"></loading-spinner>
    
  </div>
</ion-content>