<ion-content>
  <div class="main-content">
    <div class="illustration-section">
      <div class="illustration-image"></div>
    </div>
    <div class="main-form-section">
      <div class="form-container">
        <h1>Hello Again!</h1>
        <p class="welcome-text">Welcome Back You've Been Missed!</p>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="input-group">
            <ion-input type="text" placeholder="User Name/Email" name="number" [(ngModel)]="model.number" required></ion-input>
          </div>
          <div class="input-group">
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" required></ion-input>
          </div>
          <a class="forgot-password-link" [routerLink]="['/forgetpassword']">Forget Your Password?</a>
          <ion-button class="signin-btn" type="submit" [disabled]="!loginForm.valid" expand="block">
            Sign In
          </ion-button>
          <div class="separator">
            <hr class="line" />
            <span>Or, Sign In With</span>
            <hr class="line" />
          </div>
          <ion-button class="google-signin-btn" expand="block" fill="outline">
            <img src="../../../assets/figma/google.png" alt="Google Icon" class="google-icon" />
            <span>Sign In With Google</span>
          </ion-button>
        </form>
        <p class="signup-text">
          Don't Have An Account?
          <a (click)="register()" class="signup-link">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
  <loading-spinner *ngIf="loading"></loading-spinner>
</ion-content>