<ion-app>
  <ion-menu contentId="main-content"
            type="overlay">
    <ion-header>
      <ion-toolbar>
        <div class="menu">
          <ion-title mode="md">Menu</ion-title>

          <ion-item lines="none"><span class="mt-3 mr-2"> Username: </span>
            <ion-text class="font-weight-bold mt-3">{{accountService.appUser}}</ion-text>
          </ion-item>

          <!-- <ion-item lines="none">UserId: ({{accountService.user_id}}) </ion-item> -->

          <ion-item lines="none"><span class="mr-2"> Balance: </span>
            <ion-badge> ₦ {{accountService.accountBalance | number}} </ion-badge>
            <ion-icon slot="end"
                      #bal
                      class="animated"
                      (click)="reloadBalance()"
                      name="refresh">refresh</ion-icon>
          </ion-item>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list color="light"
                class="drawer-list">
        <ion-menu-toggle auto-hide="false"
                         *ngFor="let p of appPages">
          <ion-item tappable
                    color="light"
                    [routerDirection]="'root'"
                    [routerLink]="[p.url]"
                    routerLinkActive="router-link-active">
            <ion-icon slot="start"
                      [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="userService.getUserRole() === 'MERCHANT'"
                         [routerLink]="['/merchant']">
          <ion-item color="light">
            <ion-icon name="cash"></ion-icon>
            <ion-label class="ml-4">MERCHANT</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-menu-toggle (click)="rateYourApp()">
                <ion-item color="secondary" >
                <ion-icon name="thumbs-up"></ion-icon>
                <ion-label  class="ml-4">RATE MY APP</ion-label>
              </ion-item>
            </ion-menu-toggle> -->
        <!-- <ion-menu-toggle>
                <ion-item color="secondary" (click)="userService.logout()" >
                <ion-icon name="power"></ion-icon>
                <ion-label  class="ml-4">LOGOUT</ion-label>
              </ion-item>
            </ion-menu-toggle> -->

        <ion-item>
          <ion-icon slot="start"
                    name="moon-outline"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle [(ngModel)]="dark"></ion-toggle>
        </ion-item>

        <ion-menu-toggle>
          <ion-item color="light"
                    tappable
                    (click)="userService.logout()">
            <ion-icon slot="start"
                      name="power"></ion-icon>
            <ion-label> LOGOUT</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list color="light"
                id="labels-list"
                *ngIf="userService.getUserRole() == 'ADMIN'">
        <ion-list-header class="text-center">Admin</ion-list-header>
        <ion-menu-toggle>
          <ion-item color="success"
                    color="light"
                    *ngFor="let label of labels"
                    lines="full">
            <ion-icon slot="start"
                      [name]="label.icon"></ion-icon>
            <ion-label tappable
                       [routerLink]="label.url">{{ label.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
