<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <!-- <ion-header>
      <ion-toolbar>
        <div class="menu">
          <ion-title mode="md">Menu</ion-title>

          <ion-item lines="none"><span class="mt-3 mr-2"> Username: </span>
            <ion-text class="font-weight-bold mt-3">{{accountService.appUser}}</ion-text>
          </ion-item>

          

          <ion-item lines="none"><span class="mr-2"> Balance: </span>
            <ion-badge> ₦ {{balance | currency:'₦'}} </ion-badge>
            <ion-icon slot="end" #bal class="animated" (click)="reloadBalance()" name="refresh">refresh</ion-icon>
          </ion-item>
        </div>
      </ion-toolbar>
    </ion-header> -->

    <ion-content>

      <div class="main-content">
        
        <div class="top-section">
          <img [src]="image" alt="" class="top-section-cover-img">
          <div class="profile">
            <div class="profile-pic">
              <img [src]="image" alt="">
            </div>
            <p class="profile-name">{{username}}</p>
          </div>
          <div class="bottom">
            <div class="text balance">Balance: {{balance | currency:'₦'}}</div>
            <div class="text bonus">Bonus: 200</div>
          </div>
        </div>
        <div class="main-section">
          <div class=" section quiz-section">
            <span class="heading">Quiz Trivia</span>
            <div class="heading-section">
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/playdemo']"
                routerLinkActive="router-link-active">
                  <div class="logo">
                    <img src="../../assets/figma/ion_game-controller-outline.svg" alt="">
                  </div>
                  <span class="name">Demo</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/leaderboard']"
                routerLinkActive="router-link-active">
                  <div class="logo">
                    <img src="../../assets/figma/Group 47.svg" alt="">
                  </div>
                  <span class="name">Leaderboard</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/playsection']"
                routerLinkActive="router-link-active">
                  <div class="logo">
                    <img src="../../assets/figma/ion_game-controller-outline.svg" alt="">
                  </div>
                  <span class="name">Live Game</span>
                </div>
              </ion-menu-toggle>
            </div>
          </div>
          <div class="section events-section">
            <span class="heading">Events</span>
            <div class="heading-section">
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" >
                  <div class="logo">
                    <img src="../../assets/figma/fluent_vote-24-regular.svg" alt="">
                  </div>
                  <span class="name">E-Voting</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo">
                  <div class="logo">
                    <img src="../../assets/figma/icon-park-outline_ticket.svg" alt="">
                  </div>
                  <span class="name">E-Ticketing</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/events']"
                routerLinkActive="router-link-active">
                  <div class="logo">
                    <img src="../../assets/figma/carbon_event-schedule.svg" alt="">
                  </div>
                  <span class="name">Onboarding Event</span>
                </div>
              </ion-menu-toggle>
            </div>
          </div>
          <div class="section settings-section">
            <span class="heading">Settings</span>
            <div class="heading-section">
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" >
                  <div class="logo">
                    <img src="../../assets/figma/ep_setting.svg" alt="">
                  </div>
                  <span class="name">General Settings</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/profile']"
                routerLinkActive="router-link-active">
                  <div class="logo">
                    <img src="../../assets/figma/iconoir_profile-circled.svg" alt="">
                  </div>
                  <span class="name">User Profile</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo">
                  <div class="logo">
                    <img src="../../assets/figma/ic_outline-account-balance.svg" alt="">
                  </div>
                  <span class="name">Account Info</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo">
                  <div class="logo">
                    <img src="../../assets/figma/mdi_theme-light-dark.svg" alt="">
                  </div>
                  <span class="name">Theme</span>
                </div>
              </ion-menu-toggle>
            </div>
          </div>
          <div class="section account-section">
            <span class="heading">Account</span>
            <div class="heading-section">
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'" [routerLink]="['/tabs/account']"
                routerLinkActive="router-link-active">
                  <div class="logo"></div>
                  <span class="name">Account</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" [routerDirection]="'root'"ss [routerLink]="['/tabs/transaction']"
                routerLinkActive="router-link-active">
                  <div class="logo"></div>
                  <span class="name">Transaction</span>
                </div>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <div class="Demo">
                  <div class="logo"></div>
                  <span class="name">Account</span>
                </div>
              </ion-menu-toggle>
            </div>
          </div>
          <div class="section account-section">
            <span class="heading">Logout</span>
            <div class="heading-section">
              <ion-menu-toggle auto-hide="false">
                <div class="Demo" (click)="userService.logout()">
                  <div class="logo"></div>
                  <span class="name">Logout</span>
                </div>
              </ion-menu-toggle>
            </div>
          </div>
        </div>
      </div> 



      <!-- <ion-list color="light" class="drawer-list">
        <ion-menu-toggle auto-hide="false">
          <ion-item tappable color="light" [routerDirection]="'root'" [routerLink]="[p.url]"
            routerLinkActive="router-link-active">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="userService.getRole() === 'MERCHANT'" [routerLink]="['/merchant']">
          <ion-item color="light">
            <ion-icon name="cash"></ion-icon>
            <ion-label class="ml-4">MERCHANT</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item>
          <ion-icon slot="start" name="moon-outline"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle [(ngModel)]="dark"></ion-toggle>
        </ion-item>

        <ion-menu-toggle>
          <ion-item color="light" tappable (click)="userService.logout()">
            <ion-icon slot="start" name="power"></ion-icon>
            <ion-label> LOGOUT</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list color="light" id="labels-list" *ngIf="userService.getRole() == 'ADMIN'">
        <ion-list-header class="text-center">Admin</ion-list-header>
        <ion-menu-toggle>
          <ion-item color="success" color="light" *ngFor="let label of labels" lines="full">
            <ion-icon slot="start" [name]="label.icon"></ion-icon>
            <ion-label tappable [routerLink]="label.url">{{ label.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list> -->

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>