<ion-content>

  <div class="main-content">
    <div class="illustration"></div>
    <div class="main-section">
      <h2>Sign In</h2>
      <div class="input-section">
        <form class="form" class="form" #signUpForm="ngForm" name="signUpForm" (submit)="register()" autocomplete="off">
          <div class="inputs">
            <!-- <div *ngIf="emailUser.dirty && emailUser.errors" class="text-center">
                <small class="text-danger ">phone number or email is required</small>
              </div> -->
            <div class="inputBox">
              <span class="text">Username</span>
              <input type="text" required="true" #username="ngModel" placeholder="Username" name="username"
                [(ngModel)]="model.username" type="text" ngControl="title">
            </div>
            <div class="inputBox">
              <span class="text">Email Address</span>
              <input type="email" required="true" name="email" [(ngModel)]="model.email" ngControl="title">
            </div>
            <div class="inputBox">
              <span class="text">Phone</span>
              <input #number="ngModel" name="number" [(ngModel)]="model.number" type="text" required minlength="11"
                [pattern]="phoneRegex" ngControl="title">
            </div>
            <div class="inputBox">
              <span class="text">Password</span>
              <input type="password" required="true" #password="ngModel" name="password" [(ngModel)]="model.password"
                ngControl="title" minlength="6">
            </div>
            <div *ngIf="password.dirty && password.value !== conf_password.value" class=" text-center">
              <small class="text-danger ">password not matched</small>
            </div>
            <div class="inputBox">
              <span class="text">Confirm Password</span>
              <input type="password" required="true" #conf_password="ngModel" name="password"
                [(ngModel)]="model.conf_password" ngControl="title" minlength="6">
            </div>
            <input class="signin-btn" type="submit" value="Sign up" [disabled]="!signUpForm.valid && password.value == true">
          </div>
          <p class="text">Already have an account?
            <a [routerLink]="['/login']" class="text-signup">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>



            

  <!-- fab button with options on click -->
  <!-- <ion-fab horizontal="start"
             vertical="bottom"
             slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button color="success">
          <a class=" info text-white"
             [routerLink]="['/testimonials']">
            <ion-icon name="trophy"></ion-icon> TESTIMONIALS
          </a>
        </ion-button>
        <ion-button color="success">
          <a class=" info text-white"
             [routerLink]="['/howtoplay']">
            <ion-icon name="logo-game-controller-a"></ion-icon> HOW TO PLAY
          </a>
        </ion-button>
        <ion-button color="success">
          <a class=" info text-white"
             [routerLink]="['/contactus']">
            <ion-icon name="chatbubbles"></ion-icon> CONTACT US
          </a>
        </ion-button>
        <ion-button color="success">
          <a class="info text-white  "
             href="https:/i-sabi.com/faq/">
            <ion-icon name="help"></ion-icon> FAQ
          </a>
        </ion-button>
        <ion-button color="success">
          <a class="info text-white  "
             href="https:/i-sabi.com/privacy-policy-2/">
            <ion-icon name="list"></ion-icon> POLICY
          </a>
        </ion-button>
      </ion-fab-list>
    </ion-fab> -->
</ion-content>