<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="10"
               offset-xs="1"
               size-sm="8"
               offset-sm="2"
               size-md="6"
               offset-md="3"
               size-lg="6"
               offset-lg="3">
        <ion-title class="text-center ion-margin-top ion-margin-bottom"
                   mode="md">Privacy Policy, Terms and Conditions</ion-title>
        <section>
          <h3>Terms and Conditions</h3>
          <p class="ion-text-justify">These terms and conditions shall be valid for all services offered by I-sabi (in its entirety covering all of its platforms; Mobile app, Desktop app, Web app and Website).
            By using I-sabi services, you are bound by the following terms and conditions;
            The general terms and conditions
            The trivia terms and conditions
            The privacy policy
            Deposit, Credits and Refunds terms
            Withdrawal terms
            I-sabi services terms</p>
        </section>

        <section>
          <h3>Definition of terms</h3>
          <p class="ion-text-justify">Users: A person, account holder who utilizes I-sabi services irrespective of the platform. Users also referred to as “you”, “them”.
            Clients: A subset of users who utilize I-sabi services as a business owner. Services referring to e-voting, e-ticketing, event management with an exclusion of I-sabi Trivia.
            Credit Units: A deposit made to users’ I-sabi account (clients excluded) for utilizing I-sabi services.
            We: Refers to I-sabi as a product of Ayaweisoft.</p>
        </section>

        <section>
          <h3>Amendment of terms and conditions</h3>
          <p class="ion-text-justify">UI-sabi and its parent company reserves the irrevocable, sole right to review and amend its terms and conditions after periodically as the case may be.</p>
        </section>

        <section>
          <h3>General Terms and conditions</h3>
          <p class="ion-text-justify">By accessing the I-sabi services and agreeing to the terms and conditions, you accept that you are fully aware of the contents there in as defined and are bound by it.
            Users, accounts are not transferrable as complications arising from misuse of accounts shall be at the risk of the user.
            I-sabi shall not be held liable for any malpractice carried out by users. Malpractice defined as but not limited to; Wrong deposits, Wrong user data as supplied by users, Misapplication of allotted credit units
            I-sabi shall not be liable for any loss emanating from a user-controlled fault or from faults beyond the control of I-sabi</p>
        </section>

        <section>
          <h3>I-sabi Trivia Terms</h3>
          <p class="ion-text-justify">The I-sabi Saturday live show, referred to in these terms as Trivia shall hold only on Saturdays within the hours of 6:00am to 6:00pm
            Monetary prizes as advertised can only be won during the validity period of the Trivia
            The trivia is only available to users who have a predetermined number of credit units which are only valid per game.
            I-sabi shall not be held liable for losses arising from network fluctuations/failure.
            The winners (who shall be ten in number, pending upward review) shall be the top ten on the leaderboard at the end of the validity period of the trivia, who, however have to answer all given questions in a singular game, correctly within
            a
            specified
            period of time.
            Users are entitled to multiple tries (as their credit unit would permit) but only their best time shall appear on the leaderboard.
            The user with the best time shall have a cash reward of ten thousand naira while the nine users who follow shall have five thousand naira each subject to review with time.
            Winners can be called at any time for the purpose of testimonial to the authenticity of I-sabi.
            I-sabi reserves the right to set questions from any field of study which it deems fit and also randomize such questions as it deems necessary and reserves the right of citation.</p>
        </section>

        <section>
          <h3>Deposits, Credits and Refunds</h3>
          <p class="ion-text-justify">Users, deposit shall be made only to channels specified by I-sabi, I-sabi shall not be liable for any wrong deposits.
            Users will only be credited when deposits have been confirmed. Credit units are only valid on the I-sabi platform and cannot be remonetized.
            Users are not entitled to refunds.
            Clients are entitled to refunds; however, this is only valid for any period of time earlier than three weeks to the agreed date of execution of their project.
            Clients may be provided with alternative channels of deposit as prescribed by I-sabi
            Any failed transaction shall be duly reported to users’ financial institution for reversal
            The minimum deposit by users shall be five hundred naira.</p>
        </section>

        <section>
          <h3>Withdrawals</h3>
          <p class="ion-text-justify">Winners of the Trivia shall be credited via bank accounts which they provide
            Any loss of money arising from users’ end shall be at the expense of such user
            Any failed transaction resulting from I-sabi and its financial institution shall be handled by I-sabi and upon rectification, the user credited.
            Clients who own monetary accounts with I-sabi are entitled to withdrawals, however, clients and users shall bear the cost associated with such withdrawals and deposits. Client and user cannot withdraw bonuses or promo unit alloyed by
            i-sabi.
            They are
            required to only use the units to gain access to services on the platform.</p>
        </section>

        <section>
          <h3>I-sabi Services</h3>
          <p class="ion-text-justify">Through its platforms, I-sabi shall provide (but is not limited to) the following services; E-voting, E-ticketing, Trivia.
            I-sabi shall service its clients with data which they provide and shall not be held responsible for any misleading information.
            Clients shall have monetary accounts with I-sabi to be able to use its services
            Users shall access I-sabi services with credit units, at a rate of one naira per credit unit, I-sabi shall not be responsible for any misapplication of credit units.
            Clients shall have a duly signed contractile agreement with I-sabi to access its services
            The terms of the services required by a client shall be made available in the form of a typewritten contract which must be duly signed by all parties involved without which any service promised shall be void.
            I-sabi is only obligated to fulfilling agreements contained in such signed contracts.
            i-sabi shall not be represented by any third party except with an express permission presented in the form of a duly signed and stamped document.
            Every contract between I-sabi and its clients are taken with an agreement of non-disclosure
            I-sabi reserves the right to have as many clients as it deems necessary and cannot face any litigation for supplying multiple clients with similar services.
            All complaints shall be directed to I-sabi for rectification as any complaint directed to a third party without the consent of I-sabi shall be seen as an act of defamation and shall be liable for litigation.
            The services I-sabi offers shall be reviewed by the parent company as necessary.</p>
        </section>

        <section>
          <h3>Modifications, Updates to our platform</h3>
          <p class="ion-text-justify">I-sabi may from time to time provide enhancements or improvements to features, functionality of the platforms which may include patches, bug\fixes, updates, updates and other modifications.
            Updates may modify or delete certain featured as necessary I-SABI reserves the right to modify, update, discontinue or suspend, temporarily or permanently any of its platforms or any of its services without liability to you.</p>
        </section>

        <section>
          <h3>Copyright infringement Notice</h3>
          <p class="ion-text-justify">If you are a copyright owner or such owner’s urgent and believe any material on our platforms or service we offer constitutes an infringement on your copyright, please contact us setting forth the following
            information.
            Physical or electronic signature of the copyright owner or a person authorized to act on his behalf.
            Identification of the material that is claimed to be infringing.</p>
        </section>

        <section>
          <h3>Your contact information</h3>
          <p class="ion-text-justify">Statement by you that you have a good faith belief that any of the materials is not authorized by the copyright owner.
            The statement that the information in the notification is accurate and under penalty of perjury, you are authorized to act on behalf of the owner.

            Intellectual Property
            I-sabi platforms and its features, contents, functionality and rendered services are owned by the Ayaweisoft company limited, and is protected by Nigeria and international copyright, trademark, patent, trade secret and other intellectual
            property or
            proprietary right laws. These materials may not be copied, modified, reproduced, downloaded or distributed in anyway; in whole or in part; without the express prior written permission of i-sabi, unless and except as is expressly product
            in
            these T&C.
            Any unauthorized used of the material is prohibited.</p>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
