<ion-content>
  <div class="main-content">
    <div class="voting-container">

      <!-- head section -->
      <div class="head-section voting-head-section">
        <div class="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="logo" slot="end">
          </div>
        </div>
      </div>

      <div class="voting-section">  
        <h2 class="voting-title">Voting</h2> 
        <div class="voting-segment">
          <div class="voting-card" *ngFor="let item of contestant">
            <div class="voting-card-pic">
              <img [src]="item.image_url">
            </div>
            <div class="voting-card-name">
              <small class="fullname">00{{item.my_code }} {{ parseText(item.fullname) }}</small>
              <div class="nickname">{{item.nickname}}</div>
            </div>
            <div class="voting-card-bottom">
              <div class="voting-card-bottom-votes">
                {{item.vote_count | number}} vote(s)
              </div>
              <div class="voting-card-bottom-button">
                <button (click)="voteNow(item.event_id,item._id,item.image_url,
                item.nickname,item.my_code, item.fullname)">
                  Vote Now
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- Segment with anchors -->
  <!-- loader -->
  <div *ngIf="loading" class=" ">
    <div class="toast-container ">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</ion-content>
<!-- <ion-content>

  <ion-refresher #refresherRef (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>


  <ion-fab *ngIf="userService.getRole() == 'ADMIN'" (click)="addUser()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-title mode="md" class="text-center text-uppercase ion-margin-top">CONTESTANTS</ion-title>

  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="6" offset-md="3" size-lg="12" offset-lg="3">
      <ion-searchbar type="text" [(ngModel)]="searchModel.name" name="search" debounce="500" (ionChange)="getItems()">
      </ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-xs="6" size-sm="6" size-xl="3" *ngFor="let item of contestant"
        index as i>
        <ion-card class="text-center font-weight-bold pb-2 ion-no-margin">
          <ion-icon *ngIf="userService.getRole() == 'ADMIN'" (click)="deleteContestant(item)" name="trash"></ion-icon>
          <img [src]="item.image_url">

          <small> 00{{item.my_code}} </small>
          <small> {{item.fullname}} </small>
          <div> {{item.nickname}} </div>

          <div>
            <ion-label> <strong>{{item.vote_count | number}} vote(s) </strong></ion-label>
            <ion-button (click)="voteNow(item.event_id,item._id,item.image_url,
            item.nickname,item.my_code, item.fullname)" size="small" color="primary">vote now</ion-button>
          </div>

          <div *ngIf="userService.getRole() == 'ADMIN'" class="ion-text-center">
            <input readonly type="text" [value]="personalLink +'/'+'web-voting/'+ item._id " #userinput size="35">
            <ion-button color="dark" size="small" (click)="copyInputMessage(userinput)" value="click to copy">Copy
            </ion-button>

          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content> -->