.image{
      object-fit: cover;
  width: 100px;
  height: 100px;
  // align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.vote_card{
    padding: 0 !important;
    margin: 0 !important;
}

.content{
    // background-image: url("../../assets/img/app-bg.png");
    background-image: url("../../../assets/img/bg.png");
    height: 100%;
    width: 100%;
     background-position: center; 
     position: fixed;
     background-size: cover;
      background-repeat: no-repeat; 
  }