
.main-content {
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;

    .voting-container{	
		height: fit-content;
		width: 100%;
		display: flex;
		flex-direction: column;

		.head-section{
            position: relative;
            background-color: #348A40;
            height: fit-content;
            background-image: url("../../../assets/figma/unsplash_XIIsv6AshJY.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            padding-top: 0;
            padding-bottom: 20px;
        }
        
        .voting-head-section{
            height: 100px;
        }
    
        .voting-section{
            background-color: #fafafa;
            z-index: 100;
            margin-top: -30px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            display: flex;
            width: 100%;
            gap: 20px;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

			.voting-title{
				font-weight: 600;
				font-size: 1.4rem;
				color: #000;
				margin: 0;
			}

            .voting-segment{
                position: relative;
                display: grid;
				grid-template-columns: 1fr 1fr;
                place-items: center;
                gap: 20px;
				padding: 0 1rem;
                width: 100%;

                .voting-card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
					width: 100%;
                    border-radius: 10px;
                    background-color: #EEF7EE;

                    .voting-card-top{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 10px;
                        justify-content: space-between;

                        .voting-card-top-delete{

                        }

                        .voting-card-top-title{
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .voting-card-pic{
                        // display: grid;
                        // place-items: center;
						padding: 0.5rem;
						border-radius: 0.3rem;
						width: 100%;
						height: 8rem;
						overflow: hidden;
						
                        img{				
                            width: 100%;
							height: 100%;
                            object-fit: cover;  
                        }
                    }

					.voting-card-name{
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						
						.fullname{
							text-align: center;
							font-size: 0.8rem;
						}

						.nickname{
							text-align: center;
							font-size: 0.8rem;
							font-weight: 600;
						}
					}

                    .voting-card-bottom{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        gap: 9px;
                        margin-bottom: 10px;
                        width: 100%;

                        .voting-card-bottom-votes{
                            font-weight: 600;
                            font-size: 14px;
                        }

                        .voting-card-bottom-button{
                            width: 100%;  
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button{
                                width: 60%;
                                outline: none;
                                border-radius: 10px;
                                font-size: 12px;
                                font-weight: 500;
                                color: #fff;
                                height: 30px;
                                background-color: #348A40;
                            }
                            
                        }
                    }

                }
            }
            
        }
	}
}

