/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

//fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
// @font-face {
// 	font-family: 'Roboto';
// 	src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
// }


h1,h1,h3,h4{
	font-family: 'Poppins', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
}

ion-content{
	--background-color: #fafafa;
}

.main-content{
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;
	height: fit-content;
	min-height: 100%;
}

.inner-scroll{
	background: #fafafa;
}

.header{
	height: 55px;
	width: 100%;
	padding: 0 10px;
	display: flex;
	background-color: transparent;
	justify-content: space-between;
	align-items: center;

	ion-menu-button{
		height: 2rem;
		width: 2rem;
		color: #fff;
	}

	.logo{
		width: 30px;
		height: 30px;
		border-radius: 100%;
		background-color: rgb(83, 80, 80);
	}

}

.top-section-cover-img{
	position: absolute;
	opacity: 0.22;
	top: 0;
	z-index: 0;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.content {
	background-color: #348A40;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

button{
	transition: all 0.5s cubic-bezier(0.19, 0.66, 0.48, 0.97);
	outline: none;
	&:hover{
		transform: translateY(-2px);
	}
}

.btn{
	outline: none;
}
input{
	outline: none;
}

.modal-fullscreen {
	.modal-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.rounded-top {
	position: absolute;
    left: 137px;
    bottom: 11px;
    width: 80px;
    height: 30px;
}

.curved-section{
	background-color: #fafafa;
	background: #000;
	z-index: 100;
	margin-top: -30px;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    gap: 13px;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 10px;
	position: relative;
	
	

	h2{
		color: black;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		line-height: 13px;
		margin: 0;
	}
	
	
}


// spinner
.lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgb(5, 53, 8);
	margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.info {
	text-decoration: underline rgb(255, 254, 254); 
}

//   loading
.toast-container {
	position: fixed;
	display: flex;
	justify-content: center;
	top: auto;
	margin-bottom: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
