header {
    padding: 20px;
    background-color: #F7FFF6;

    h1 {
        text-align: center;
        font-weight: 700;
        margin: 2rem 0;
    }
    h3 {
        font-weight: 700;
        line-height: 1.3rem;
        font-size: 1.1rem;
    }
}


input {
    display: none;
    visibility: hidden;
    height: 0;
}
main {
    padding: 20px;
    background-color: #F7FFF6;

    h4 {
        color: #483636;
        font-weight: 900;
    }

    .accordion {
        margin-bottom: 2rem;

        .accordion__section {
            margin-bottom: .5rem;

            .accordion__text {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}


label {
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0px 5px rgb(0, 0, 0, 0.2);
}
.accordion__text {
    display: none;
}
.acct:checked ~ .accordion__text {
    display: block;
}
