<!-- <ion-header>
  <ion-toolbar>
    <img class="rounded-top"  src="../../assets/icon/Logoicon.png">
  </ion-toolbar>
</ion-header> -->

<ion-content>
 
  <div class="content">


  <ion-grid fixed >
 
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">

        
        <form class="form" #signUpForm="ngForm" name="signUpForm" (submit)="register()" >
          <div class="text-center  p-3">
            <ion-chip  color="dark" mode="ios" outline="true">
              <h1 class=" font-weight-bold m-2 ">SIGN UP</h1>
             </ion-chip>
          </div>
        
          <div *ngIf="loading">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
          </div>

          <div *ngIf="number.dirty && number.errors" class=" text-danger text-center">
            <small class="text-danger " *ngIf="number?.errors.required" >phone is required</small>
          </div>
          <div class="text-input mb-2">
            <ion-label class="ml-3" position="floating">Phone</ion-label>
            <ion-input #number="ngModel" name="number" position="floating" [(ngModel)]="model.number" type="number" required
              minlength="11" [pattern]="phoneRegex" ngControl="title"></ion-input>
          </div>
         

          <div *ngIf="username.dirty && username.errors"  class=" text-danger text-center">
            <small class="text-danger " >username is required</small>
          </div>
          <div class="text-input mb-2">
            <ion-label class="ml-3" position="floating">Username</ion-label>
            <ion-input #username="ngModel" name="username" position="floating" [(ngModel)]="model.username" type="text" required
              ngControl="title"></ion-input>
          </div>

         
          <div *ngIf="password.dirty && password.errors" class=" text-danger text-center">
            <small class="text-danger " *ngIf="password?.errors.invalid">password is required</small>
            <small class="text-danger " *ngIf="password?.errors.minlength">password must be at least 6 </small>
          </div>
          <div class="text-input mb-2">
            <ion-label class="ml-3" position="floating">Password</ion-label>
            <ion-input #password="ngModel" name="password" position="floating" [(ngModel)]="model.password" type="password"
              required ngControl="title"  minlength="6" ></ion-input>
          </div>


          <div *ngIf="password.dirty && password.value !== conf_password.value" class=" text-center">
            <small class="text-danger ">password not matched</small>
          </div>
          <div class="text-input mb-2">
            <ion-label class="ml-3" position="floating">Confirm password</ion-label>
            <ion-input #conf_password="ngModel" name="password" position="floating" [(ngModel)]="model.conf_password"
              type="password" required ngControl="title"  minlength="6" ></ion-input>
              
          </div>

          <ion-button [disabled]="!signUpForm.valid && password.value !==conf_password.value" class="mt-4" color="success"  expand="block" type="submit">Submit</ion-button>
        </form>
       
        <div class="justify-content-center row">
          <p class="text-dark"> I already have account 
            <ion-chip [routerLink]="['/login']" color="light" >
            <ion-label class="font-weight-bold text-dark">login</ion-label>
            </ion-chip>
          </p>
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  
  </ion-grid>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="alert"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button color="success">
        <a class=" info text-white" [routerLink]="['/testimonials']">
          <ion-icon name="trophy"></ion-icon> TESTIMONIALS
        </a>
      </ion-button>
      <ion-button color="success">
        <a class=" info text-white" [routerLink]="['/howtoplay']">
          <ion-icon name="logo-game-controller-a"></ion-icon> HOW TO PLAY
        </a>
      </ion-button>
      <ion-button color="success">
        <a class=" info text-white" [routerLink]="['/contactus']">
          <ion-icon name="chatbubbles"></ion-icon> CONTACT US
        </a>
      </ion-button>
      <ion-button color="success">
        <a class="info text-white  " href="https:/i-sabi.com/faq/">
          <ion-icon name="help"></ion-icon> FAQ
        </a>
      </ion-button>
      <ion-button color="success">
        <a class="info text-white  " href="https:/i-sabi.com/privacy-policy-2/">
          <ion-icon name="list"></ion-icon> POLICY
        </a>
      </ion-button>
    </ion-fab-list>
  </ion-fab>



  
        <!-- loader -->
        <div *ngIf="loading" class=" ">
          <div class="toast-container ">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
  </div>

</ion-content>