<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> <div class="row d-flex justify-content-center">
      <img class="rounded-top"  src="../../../assets/icon/Logoicon.png">
    </div> 
  </ion-toolbar>
</ion-header>


<ion-segment scrollable="true" value="leaderboard" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="leaderboard">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>LeaderBoard</ion-label>
  </ion-segment-button>
  <ion-segment-button value="change_count">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Change Total Display</ion-label>
  </ion-segment-button>
</ion-segment>



<ion-content class="container"> 

 

  <div *ngIf=" segment ==='leaderboard'" style="background-color: white; border: 3px black; min-height: 75vh;" class="p-5">
    <div class="row d-flex justify-content-center mb-2">
      <span class="font-weight-bold">Current Display Total:</span>
      <span class="font-weight-bold">{{leaderBoard.length}}</span>
      <!-- <ion-spinner class="spinner" name="crescent"></ion-spinner> -->

    </div>
    <div class=" card text-white text-center" *ngFor="let item of leaderBoard; index as i"  (click)="showLeaderDeatails(item.user_id)">
      <ion-list class="text-dark">
        <ion-row class=" winner lighten-2 p-2 px-4 d-flex justify-content-between">
          <p class="font-weight-bold">{{item?.user}} </p>
          <p> Enlapsed:  {{item?.minutes}}:{{item?.seconds}} secs</p>
        </ion-row>
      </ion-list>
      <!-- <ion-button size="small" color="danger" (click)="presentAlertConfirm(item._id)">Delete</ion-button> -->
    </div>
    <button (click)="getMoreLeader()">{{ sLoading ? 'loading...' : 'See more' }}</button>
  </div>
  
  <div *ngIf=" segment ==='change_count'" style="background-color: white; border: 3px black; min-height: 75vh; " class="p-5 ">
    <form #count name="count" (submit)="changeCount()">
      <ion-item>
          <!-- <ion-label  class="ml-3" position="floating">Enter Count</ion-label> -->
        <ion-input type="number" #categoryname name="leaderBoardCount" [(ngModel)]="leaderBoardCount" placeholder="Number of leaderboard members to display"></ion-input>
      </ion-item>
      <ion-button type="submit">Submit</ion-button>
    </form>
  </div>

    <!-- loader -->
    <div  *ngIf="loading">
      <div class="toast-container ">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
</ion-content>
